@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100");

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: bold;
}

.link {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  font-size: 1.6rem;
  line-height: 1.9rem;
  color: $color-primary;
}
